job_name: "mfrrnet_v6"
base: "base.yaml"
include: [
  "includes/dataset_export_data_st.yaml",
]
pipeline: [
]
dataset: {
  "demodulation_mode": "ess",
  "part": [metadata, gbuffer, world_normal, depth, base_color, scene_color_no_st, nov, motion_vector, sky_color, skybox_mask, st, ],
  "history_config": {
      "generate_from_data": false,
      "allow_skip": false,
      "num": 2,
    #   "index": [0, 1, 2],
      "index": [0, 1],
      "part": [
        [metadata, depth, world_normal, base_color, gbuffer, base_color, scene_color_no_st, nov, motion_vector, sky_color, skybox_mask, st,],
        [metadata, gbuffer, base_color, scene_color_no_st, 'nov', motion_vector, sky_color, skybox_mask, st,],
        # [metadata, gbuffer, base_color, scene_color_no_st, 'nov', motion_vector, sky_color, skybox_mask, st,],
        ],  
      'augmented_data': [
        ["scene_color_no_st", "scene_color", "dmdl_color", "scene_light_no_st", "sky_color", "st_color", "st_alpha"],
        ["scene_color_no_st", "dmdl_color", "scene_light_no_st", "sky_color", "st_color", "st_alpha"],
        # ["scene_color_no_st", "dmdl_color", "scene_light_no_st", "sky_color", "st_color", "st_alpha"],
      ]
  },
  "future_config": {
    "allow_skip": false,
    "num": 0,
    "index": [],
    "part": [],
    'augmented_data': [],
  }
}
model: {
    # "fp16":true,
    "model_name": "mfrrnet",
    class: "MFRRNetModel",
    "dummy_input_size_h": 720,
    "dummy_input_size_w": 1280,
    "arch": "v6",
    "gt_alias": "scene_color",
    "tonemap_in_his_encoder": false,
    "config":{
        "feature_warp_mode": "bilinear",
        "rmv_downsample_mode": "nearest",
        "rmv_warp_mode": "nearest",
        "output_warp_mode": "bilinear",
        "st_output_warp_mode": "bilinear",
        "feature_warp_padding_mode": "border",  # border or zeros
    },
    "require_data": [
        "dmdl_color",
        "history_scene_color_no_st_1",
        # "history_scene_color_no_st_2",
    ],
    "input_buffer": [
        "dmdl_color",
        "history_dmdl_color_0",
        "scene_color",
        "skybox_mask",
        "merged_motion_vector_0",
        "history_motion_vector_0",
        "history_motion_vector_1",
        # "history_motion_vector_2",
        "merged_motion_vector_1",
        # "merged_motion_vector_2",
        "history_scene_color_0",
        "history_scene_color_no_st_0",
        "history_scene_light_no_st_0",
        "history_scene_light_no_st_1",
        # "history_scene_light_no_st_2",
        "history_st_color_0",
        "history_st_color_1",
        # "history_st_color_2",
        "history_st_alpha_0",
        "history_st_alpha_1",
        # "history_st_alpha_2",
        "history_sky_color_0",
        "history_sky_color_1",
        # "history_sky_color_2",
        "continuity_mask",
        # for debugging
        "history_base_color_0",
        "history_depth_0",
        "history_world_normal_0",
        "scene_color_no_st",
        "scene_light_no_st",
        "sky_color",
        "st_color",
        "nov",
        "st_alpha",
        "metadata"
    ],
    "residual_item": "history_scene_color_no_st_0",
    "st_color_names": ['st_alpha', 'st_color', 'sky_color'],
    "st_history_names": ['history_st_alpha_0', 'history_st_color_0', 'history_sky_color_0'],
    "pred_buffers": [
        "scene_light_no_st",
        "sky_color",
        "st_color",
        "st_alpha",
    ],
    # "st_history_names":['history_st_alpha_0', 'history_st_color_0', 'history_scene_color_no_st_0'],
    "loss_config": {
        "zero_flow_mask": true,
        "zero_flow_ratio": 0.05,
        # "c1_flow_ratio": 0.01,
        # "zero_flow2_ratio": 0.01,
        # "zero_occ_mask_ratio": 0.1,
    },
    "loss": [
        "zero_flow",
        # "zero_flow2",
        # "rec_occ",
    ],
    "debug": [
        # "fake_temporal",
        # "fake_spatial",
        # "no_history_gbuffer",
        # "no_sigmoid",
    ],
    "method": "residual",  # shade residual
    "feature": [
        "lmv_sigmoid",
        "demodulate",
        "demodulate_before_warp",
        # "demodulate_after_warp",
        # "recurrent_d2e",
        # "recurrent_d2e_decoding_split",
        # "recurrent_lmv",
        "feature_warp",
        "input_block",
        "output_block",
        "st",
        # "st_encoder",
        # "st_feature_warp",
        # "recurrent_lmv",
        # "st_residual",
        # "sky_residual",
        # "st_encoder",
        # "st_feature_warp",
        'st_initial_by_rmv',
        "tmv_skip_conn",
        # "st_lmv",
        # "st_lmv_cat",
        "st_lmv_res",
        "st_lmv_res_cat",
        # "his_st_lmv",
        # "his_st_lmv_res",
        # "his_st_lmv_res_cat",
        #=========================
        # "lmv",
        # "lmv_cat",
        "lmv_res",
        "lmv_res_cat",
        # "his_lmv",
        # "his_lmv_cat",
        "his_lmv_res",
        "his_lmv_res_cat",
        # "output_block_warp",
        # "output_block_st_warp",
        # "sky_st_warp",
    ],
    "history_encoders": {
        "num": 3,
        "mv_name": "merged_motion_vector_{}",
        "st_mv_name": "st_merged_motion_vector_{}",
        "warped_scene_light_name": "history_warped_scene_light_{}",
        "warped_scene_color_no_st_name": "history_warped_scene_color_no_st_{}",
        "history_scene_color_no_st_name": "history_scene_color_no_st_{}",
        "input_template": [
            "history_scene_light_no_st_{}",
            "history_sky_color_{}",
            "history_st_color_{}",
            "history_st_alpha_{}",
        ],
        "output_prefix_template": "he_{}_",
        "history_id": [0, 1, 2],
    },
    "history_no_st_encoders": {
        "num": 3,
        "mv_name": "merged_motion_vector_{}",
        "st_mv_name": "st_merged_motion_vector_{}",
        "warped_scene_light_name": "history_warped_scene_light_{}",
        "warped_scene_color_no_st_name": "history_warped_scene_color_no_st_{}",
        "history_scene_color_no_st_name": "history_scene_color_no_st_{}",
        "input_template": [
            "history_scene_light_no_st_{}",
        ],
        "output_prefix_template": "he_{}_",
        "history_id": [0, 1, 2],
    },
    "history_st_encoders": {
        "input_template": [
            "history_sky_color_{}",
            "history_st_color_{}",
            "history_st_alpha_{}",
        ],
        "output_prefix_template": "he_st_{}_",
    },
    "scene_color_encoder_output_prefix": "sce_",
    "st_color_encoder_output_prefix": "ste_",
    "scene_color_encoder_no_st": {
        "class": "ShadeNetEncoder",
        "skip-layer": true,
        "struct": {
            "input": [8],
            "encoder": [[24,12], [32,16], [32,24], [48,32]],
        },
        'skip_layer_split': [8, 12, 16],
        'recurrent_d2e_channel': [8, 12, 16],
        "input_buffer": [
            "scene_light_no_st",
        ],
        "recurrent_kernel_size": 1,
        "act_func": "prelu",
        "single_act_channel": false,
        # "norm_func": "batch_norm_2d",
        # "act_func": "relu",
    },
    "scene_color_encoder": {
        "class": "ShadeNetEncoder",
        "skip-layer": true,
        "struct": {
            "input": [16],
            "encoder": [[24], [32], [48], [64]],
        },
        # ===============  recurrent_d2e settings
        # 'skip_layer_split': [16, 24, 32],
        # 'recurrent_d2e_channel': [16, 24, 32],
        # ===============  end of recurrent_d2e settings
        'recurrent_d2e_channel': [24, 32, 48],
        "input_buffer": [
            "scene_light_no_st",
            "sky_color",
            "st_color",
            "st_alpha",
        ],
        # 'skip_layer_split': [24,32,48,64],
        "recurrent_kernel_size": 1,
        "act_func": "prelu",
        "single_act_channel": false,
        # "norm_func": "batch_norm_2d",
        # "act_func": "relu",
    },
    "st_color_encoder": {
        "class": "ShadeNetEncoder",
        "skip-layer": true,
        "struct": {
            "input": [8],
            "encoder": [[24,12], [32,16], [32,24], [48,32]],
        },
        'skip_layer_split': [8, 12, 16],
        'recurrent_d2e_channel': [8, 12, 16],
        "input_buffer": [
            "sky_color",
            "st_color",
            "st_alpha",
        ],
        "recurrnet_kernel_size": 1,
        "single_act_channel": false,
        "act_func": "prelu",
    },
    "gbuffer_encoder": {
        "class": "ShadeNetEncoder",
        "output_prefix": "ge_",
        "skip-layer": true,
        "struct": {
            "input": [16],
            "encoder": [[24], [32], [48], [64]],
        },
        # "recurrnet_kernel_size": 1,
        "input_buffer": [
            "base_color",
            "world_normal",
            "depth",
            "roughness",
            "metallic",
            "nov",
        ],
        "single_act_channel": false,
        "act_func": "prelu",
    },
    "shade_decoder__residual": {
        "class": "ShadeNetDecoder",
        "skip-cat": true,
        "skip_conn_start": 1,
        "skip_conn_offset": 1,
        "recurrent_d2e_cell": 'lstm',
        "recurrent_d2e_kernel_size": 1,
        "recurrent_d2d_cell": 'lstm',
        "recurrent_d2d_kernel_size": 1,
        "recurrent_d2d_layer_norm": False,
        "struct": {
            "decoder":  [[192, 48], [144, 32], [96, 24], [64, 16]],
            "output": [32, 0],  # 0 is the space holder for output channels
        },
        "output_buffer": [
            {"name": "residual_output", "channel": 3},
        ],
        "upscale_mode": "conv_bilinear", # ['deconv', 'conv_bilinear']
        "res_block_1x1_ratio": !!float 0,
        "enable_extra_channel": true,
        "out_channel": 0,
        "act_func": "prelu",
    },
}
